<div class="row">
        <div class="col-sm-12 error-message-container">

        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="role-name" placeholder="Enter New Role Name" required>
        </div>
        <div class="col-sm-12">
            <div class="text-center margin-top-large">
                <input type="submit" class="btn btn-success save-role"  value="SAVE" >
            </div>
        </div>
        <div class="col-sm-12 post-status text-center margin-top-large">

        </div>
</div>