<div class="white-background broadcast">
    <div class="col-lg-12 text-center gray-background panel-broadcast">
        Broadcast Message
    </div>

    <div class="col-lg-12 body-broadcast text-center">
        <div class="alert alert-danger submit-notification"> Message cannot be sent, Try again</div>
        <form role="form" id="broadcastForm">
            <div class="form-group">
                <textarea placeholder="" class="form-control no-border-radius gray-background" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary no-border-radius">Send Message</button>
        </form>
    </div>
</div>