<div class="row text-center white-background upload-outer-container">
    <div class="col-lg-12 ">
        <div class="row gray-background upload-inner-container">

            <div class="col-lg-2 text-center upload-form-container">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="upload-form">
                            <div class="input-group">

                            <span class="input-group-btn">
                                <div style="position:relative;" id="uploadButton">
                                    <a class="btn btn-success form-control button-upload" style="color:#676666;" href="javascript:;">

                                        UPLOAD FILE
                                        <input class="form-control upload-file" id="input-submit-upload" type="file"

                                               name="data" size="40">
                                    </a>
                                    <!--<input id="submit-upload" class="btn btn-default form-control" type="submit" value="Upload"/>-->
                                </div>
                            </span>
                            </div>
                            <div id="progress">
                                <div class="bar" style="width: 0%;"></div>
                            </div>



                        </form>
                        <span class="label label-info"></span>
                    </div>
                </div>
                <div class="col-lg-12 text-left gray-footer">
                    <span class="file-info"></span>
                </div>
                <div class="col-lg-12 horizontal-line">
                </div>
                <div class="col-lg-12 file-format">
                    <span style="color:#515151; font-size:11px;">
                        <b>To check the format of xls file.
                            <a class="sample-data-button" data-toggle="collapse" data-target="#sample-data">Click here</a>
                        </b>
                    </span>
                </div>
            </div>


        </div>
    </div>
    <div class="container-data sample-data collapse" id="sample-data">
        <div class="data-header">
            <div class="row">
                <div class="col-lg-3">Team ID</div>
                <div class="col-lg-3">Email</div>
                <div class="col-lg-3">Name</div>
                <div class="col-lg-3">Role ID</div>
            </div>
        </div>
        <div>
            <div class="data-row">

                <div class="row">
                    <div class="col-lg-3">
                        MDM
                    </div>
                    <div class="col-lg-3">
                        aman@gmail.com
                    </div>
                    <div class="col-lg-3">
                        Aman Gautam
                    </div>
                    <div class="col-lg-3">
                        Lead
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="data-row">

                <div class="row">
                    <div class="col-lg-3">
                        MDM
                    </div>
                    <div class="col-lg-3">
                        atul@gmail.com
                    </div>
                    <div class="col-lg-3">
                        Atul Dhawan
                    </div>
                    <div class="col-lg-3">
                        Developer
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="data-row">

                <div class="row">
                    <div class="col-lg-3">
                        UI
                    </div>
                    <div class="col-lg-3">
                        ankit@gmail.com
                    </div>
                    <div class="col-lg-3">
                        Ankit Khatri
                    </div>
                    <div class="col-lg-3">
                        Lead
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="data-row">

                <div class="row">
                    <div class="col-lg-3">
                        UI
                    </div>
                    <div class="col-lg-3">
                        akshat@gmail.com
                    </div>
                    <div class="col-lg-3">
                        Akshat Joshi
                    </div>
                    <div class="col-lg-3">
                        Developer
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>