<header id="pageHeader">
    <nav class="navbar navbar-default white-background no-border-radius custom-brand-navbar" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../images/toppatch_logo.png"
                                                  class="img-responsive" alt="Top Patch"></a>
        </div>
    </nav>
    <section class="navbar custom-navbar-section">
        <nav class="row navbar navbar-default text-center custom-navbar no-border-radius">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse no-left-padding" id="collapse">
                <ul class="nav navbar-nav custom-nav">
                    <li>
                        <a href="#dashboard" data-id="#dashboard">DASHBOARD</a>
                    </li>
                    <li>
                        <a href="#roles" data-id="#roles">ROLES</a>
                    </li>
                    <li>
                        <a href="#teams" data-id="#teams">TEAMS</a>
                    </li>
                    <li>
                        <a href="#users" data-id="#users">USERS</a>
                    </li>
                    <li>
                        <a href="#policies" data-id="#policies">POLICIES</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right user-menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="user-image"><img src="../../images/default_usr.png"> </span>
                            <span class="text-block">
                                <span class="user-menu-text">Welcome, &nbsp;</span>
                                <span style="display: block" id="userName"></span>
                            </span>
                            <span><b class="caret custom-caret"></b></span>
                        </a>
                        <ul class="dropdown-menu text-left">


                            <li><a class="custom-divider" href="#changepassword"><i class="fa fa-cog"></i><span> &nbsp;Change Password</span></a>
                            </li>

                            <li><a id="logout" href="/logout/"><i class="fa fa-power-off"></i></span> <span>&nbsp;Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
                </div>
        </nav>
    </section>
</header>