<div class="row">
    <div class="col-sm-offset-9 col-sm-3">
        <button type="button" id="backToBluetoothList" class="btn btn-warning">Back to Bluetooth List</button>
    </div>
</div>
<form role="form" class="form-horizontal" id="bluetoothForm">
    <div class="form-group" id="deviceNameDiv">
        <label for="deviceName" class="col-sm-offset-1 col-sm-3 control-label">Device Name: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="deviceName" placeholder="Device Name">
            <span class="display-none" id="deviceNameError"></span>
        </div>
    </div>
    <!--<div class="form-group" id="codDiv">
        <label for="cod" class="col-sm-offset-1 col-sm-3 control-label">Class of Device: </label>
        <div class="col-sm-4">
            <input type="number" min="1" max="3" class="form-control" id="cod" placeholder="Class of Device">
            <span class="display-none" id="codError"></span>
        </div>
    </div>
    <div class="form-group" id="uuidDiv">
        <label for="uuid" class="col-sm-offset-1 col-sm-3 control-label">UUID: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="uuid" placeholder="UUID">
            <span class="display-none" id="uuidError"></span>
        </div>
    </div>-->
    <div class="form-group" id="uuidDiv">
        <label for="uuid" class="col-sm-offset-1 col-sm-3 control-label">Address: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="uuid" placeholder="Address">
            <input type="hidden" id="model-cid" value="">
            <span class="display-none" id="uuidError"></span>
        </div>
    </div>
    <!--<div class="form-group">
        <label for="enablePairing" class="col-sm-offset-1 col-sm-3 control-label">Enable Pairing: </label>
        <div class="col-sm-1">
            <input type="checkbox" id="enablePairing">
            <input type="hidden" id="model-cid" value="">
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <button type="submit" id="saveBluetooth" class="btn btn-primary">Save Bluetooth Settings</button>
        </div>
    </div>
</form>
