<div class="row save-changes-bar">
    <div class="col-sm-12 semi-transparent-black-background">
        <div class="container">
            <div class="sub-policy-container">
                <div class="row" id="saveAndDiscard">
                    <div class="col-xs-2">
                        <button type="button" id="saveChanges" class="btn btn-success">
                            <span class="glyphicon glyphicon-saved"></span>
                            Save Changes
                        </button>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" id="discardChanges" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                            Discard Changes
                        </button>
                    </div>
                    <div class="col-xs-8">
                        <p class="status"> <i class="fa fa-info-circle"></i> It may take upto 24 hours for the changes to be applied.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>