<div class="row">
    <div class="col-sm-12 error-message-container">
         <div class="alert alert-danger">Unexpected things can happen if you don't read this!</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
       <p>This action <strong>CANNOT</strong> be undone. Please type in <strong>"REMOTE WIPE"</strong> to confirm.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <input type="text" class="form-control" name="confirm-text" required>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center margin-top-large">
        <button class="btn btn-danger disabled remote-wipe-btn" name="erase_device"><strong>I understand the consequences, REMOTE WIPE the device(s).</strong></button>
    </div>

</div>