<div class="white-background broadcast">
    <div class="col-lg-12 text-center gray-background panel-log">
        Logs
    </div>
    <div class="col-lg-12 body-timeline text-center">
        <ul class='timeline'>
            <li class='event'>
                <p class="date text-bold">17 Nov, Sunday</p>
                <p>Something amazing happened today,
                    <br>but it's a secret</p>
                <p class="time">
                    2:30pm
                </p>
            </li>
            <li class='event' href="#">
                <p class="date text-bold">12 Nov, Wednesday</p>
                Timeline.css is <b>dynamic</b>, <b>responsive</b> and optimized to <b>demonstrate events</b> in your
                life in a <b>simple and clear</b> way
                <p class="time">
                    2:30pm
                </p>
            </li>
            <li class="event">
                <p class="date text-bold">17 Nov, Sunday</p>
                <p> made with 3 by </p>
                <p class="time">
                    2:30pm
                </p>
            </li>
            <li class="event">
                <p class="date text-bold">16 Nov, Saturday</p>
                <p> CodeMyMobile </p>
                <p class="time">
                    2:30pm
                </p>
            </li>
            <li class='event'>
                <p class="date text-bold">18 Nov, Monday</p>
                Look, a sleepy kitten: <br/>
            </li>
            <li class="event">
                <p class="date text-bold">17 Nov, Sunday</p>
                <p>To infinity ... </p>
                <p class="time">
                    2:30pm
                </p>
            </li>
            <li class="event ">
                <p class="date text-bold">8 Nov, Tuesday</p>
                <p>... and beyond!</p>
                <p class="time">
                    2:30pm
                </p>
            </li>
        </ul>
    </div>
</div>