<div class="row">
    <div class="col-xs-4">
        <div class="sub-heading">
            Select an Operating System
        </div>
    </div>
    <div class="col-xs-2">
        <select class="form-control font-14" name="vpn-os-types">
            <option value="select">Select an OS</option>
            <option value="android">Android</option>
            <option value="iOS">iOS</option>
        </select>
    </div>
    <div class="col-xs-offset-2 col-xs-3">
        <button type="button" id="backToVPNList" class="btn btn-warning">Back to VPN List</button>
    </div>

    <div class="col-xs-1">
        <h4><i class="fa fa-apple text-apple "></i> <i class="fa fa-android text-android "></i></h4>
    </div>
</div>